<h1>Hello world from hello.</h1>

<% target = "world" %>
	
<% @array.each do |n| %>
	<%= "Hello #{target}" %><br>
<% end %>

<br>

<%= link_to('Index page', {:action => 'index'})  %> <br>

ID: <%= @id %> <br>
PAGE: <%= @page %> <br>
